:root {
  --golden: #fa9f3c;
  --black: #000000;
  --pink: #f87171;
  --light-green: #4ade80;
  --light-black: #14161c;
  --light-pink: #fff5eb;
  --white: #fff;
}

body {
  font-family: "Rational Display", sans-serif; /* Use Rational Display font */
}

.hero-container {
  background: #05070d;
  padding: 40px 50px 20px 50px;
}

section.map-container {
  background: #05070d;
  padding: 70px 0px 0px 50px;
}

section.discovery-container {
  margin: 50px 0;
}

header {
  margin-bottom: 100px;
}

.navbar {
  padding: 0 !important;
}

.navbar-nav {
  margin-left: auto; /* Push the buttons to the right */
  gap: 17px;
}
.btn-common,
.btn-border {
  color: var(--white);
  padding: 17px 42px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
}

.btn-common:hover,
.btn-border:hover {
  color: var(--white);
  text-decoration: none;
}

.btn-common {
  background: var(--O, #fa9f3c);
}

.btn-border {
  border: 1px solid var(--zinc-400, #a1a1aa);
}

.title-container {
  padding-top: 100px;
}

.title h1 {
  color: var(--white);
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px; /* 112.727% */
  letter-spacing: -1.65px;
}

.subtitle {
  margin-bottom: 50px;
}

.subtitle p {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.highlighted-text {
  color: #ffd471;
}

.benefits-slider .item {
  margin: 30px;
}

section.discovery-container h2 {
  color: var(--black, #000);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
}

/* .search-bar .form-control {
  border-radius: 40px;
  background: #f7f7f7;
  padding: 20px;
} */

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-bar {
  width: 405px !important;
  border-radius: 40px;
  background: #f7f7f7;
  padding: 15px;
}

.search-bar span.input-group-text,
.search-bar .form-control {
  background: none !important;
  border: 0 !important;
}

.search-bar .form-control:focus,
.search-bar .form-control:active {
  box-shadow: none;
}

button.btn-search {
  margin-top: 3px;
  border-radius: 60px;
  background: var(--O, #fa9f3c);
  padding: 16px 40px;
  height: 60px;
  outline: 0;
  border: 0;
  color: var(--white, #fff);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button.btn-search:active,
button.btn-search:focus {
  outline: 0;
  border: 0;
}

.btn-search::placeholder {
  color: var(--Gray-3, #828282);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

section.benefits-slider,
section.features-container {
  margin-bottom: 100px;
}

.benefits-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.benefits-container h2 {
  color: var(--black, #000);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

section.benefits-container p {
  color: var(--black, #000);
  width: 401px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-body {
  text-align: center;
}

.benefits-slider h5.card-title {
  color: var(--black, #000);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.benefits-slider h5.card-text {
  color: var(--black, #000);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

button.owl-prev span,
button.owl-next span {
  padding: 12px 18px;
  border-radius: 50%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  font-size: 18px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none !important;
  color: #000 !important;
  text-decoration: none !important;
}

.owl-theme .owl-nav [class*="owl-"]:focus {
  outline: 0 !important;
  border: 0 !important;
}
.benefits-slider .owl-nav.disabled,
.reviews-slider .owl-nav.disabled {
  display: block !important;
}

.owl-dots {
  display: none !important;
}

section.features-container h2 {
  color: var(--black, #000);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.map-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2.map-title {
  color: var(--white, #fff);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 59px;
}

p.map-subtitle {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.clients-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
}

p.numbers {
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

p.happy {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

section.additional-info-container {
  padding: 100px 0px 100px 50px;
}

.additional-info-content h2 {
  color: var(--black, #000);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 59px;
  margin: 35px 0;
}

.additional-info-content .subheading {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 50px;
}

section.graph.additional-info-container {
  background: #05070d;
}

section.subscriptions.additional-info-container {
  background: var(--light-pink);
}

section.graph.additional-info-container .additional-info-content,
.subscriptions.additional-info-container .additional-info-content {
  padding-top: 50px;
}

section.graph.additional-info-container .additional-info-content h2,
section.graph.additional-info-container .additional-info-content .subheading {
  color: var(--white);
}

.btn-additional {
  background: var(--O, #fa9f3c);
  color: var(--white);
  padding: 17px 42px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
}

.btn-additional:hover {
  color: var(--white);
  text-decoration: none;
}

section.reviews-slider {
  padding: 100px 50px 100px 50px;
  background: #05070d;
}
section.reviews-slider h1 {
  color: var(--white, #fff);
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 59px;
  margin-bottom: 50px;
}

p.review-content {
  width: 820px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: auto;
}
.rating {
  margin: 20px 0;
}

.checked-yellow {
  color: #fde047;
}

p.reviewer-name {
  color: var(--white, #fff);
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
}

section.reviews-slider button.owl-prev span {
  color: var(--white) !important;
  background: rgba(255, 255, 255, 0.13);
  font-weight: bold;
}
section.reviews-slider button.owl-next span {
  background: #fa9f3c;
  color: var(--white) !important;
}

.footer-section {
  padding: 70px 50px 0px 50px;
  background: #05070d;
}

.social-icons {
  margin-top: 45px;
  display: flex;
  gap: 14px;
}

footer.footer-section h4 {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.36px;
  text-align: center;
}

ul.quick-links {
  text-align: center;
  padding: 0;
  list-style-type: none;
}

ul.quick-links li {
  margin-bottom: 17px;
}

ul.quick-links li a {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

ul.quick-links li a:hover {
  text-decoration: none;
}

.contact-info p {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  /* text-align: center; */
}

.copyright {
  margin-top: 50px;
}

.copyright p {
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .arrow-bg {
    background-image: url("/images/bg-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 70px;
    margin: 50px 0 50px -160px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    padding: 40px 25px 20px 25px;
  }

  div#navbarNav {
    display: block;
  }

  .navbar-nav {
    flex-direction: row !important;
  }

  .nav-bb {
    gap: 50px;
  }

  .title-container {
    padding-top: 0px;
  }

  .title h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .subtitle p {
    font-size: 14px;
    line-height: 16px;
  }

  .arrow-bg {
    display: none;
  }

  .button-container {
    margin-bottom: 40px;
  }

  section.discovery-container h2 {
    font-size: 24px;
  }

  .search-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    width: 100% !important;
  }

  section.benefits-container h2 {
    font-size: 24px;
  }

  section.benefits-container p {
    width: 100%;
    font-size: 14px;
  }

  section.features-container h2 {
    font-size: 24px;
  }

  .featres-container .brand {
    margin-bottom: 15px;
  }

  section.map-container,
  section.additional-info-container {
    padding: 40px 25px 20px 25px;
  }

  section.reviews-slider {
    padding: 50px;
  }

  h2.map-title {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }

  p.map-subtitle {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .clients-content {
    gap: 0px;
    margin: 25px 0;
  }

  .map-image {
    margin: 20px;
  }

  .additional-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional-info-content img {
    max-width: 20%;
  }
  .additional-info-content h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0;
    text-align: center;
  }

  .additional-info-content .subheading {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  section.reviews-slider h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  p.review-content {
    width: 100%;
  }

  .footer-section {
    padding: 40px 25px 20px 0px;
  }

  ul.quick-links {
    text-align: left;
  }

  footer.footer-section h4 {
    text-align: left;
  }

  .quick {
    margin: 25px 0;
  }
}
