:root {
  --golden: #fa9f3c;
  --black: #000000;
  --pink: #f87171;
  --light-green: #4ade80;
  --light-black: #14161c;
  --light-pink: #fff5eb;
  --white: #fff;
}

body {
  font-family: "Rational Display" !important; /* Use Rational Display font */
}

.hero-bg {
  background: #05070d;
}

.hero-container {
  padding: 70px 80px 30px 80px;
}

.hero-container {
  z-index: 111;
  background-image: url("../images/header-bg.png") !important;
  background-repeat: no-repeat;
  background-position: center center;
}

section.map-container {
  background: #05070d;
  padding: 100px 0px 0px 100px;
}

section.discovery-container {
  margin: 50px 0 57px 0;
}

/* header {
  margin-bottom: 100px;
} */

.navbar {
  padding: 0 !important;
}

.navbar-nav {
  margin-left: auto; /* Push the buttons to the right */
  gap: 17px;
}
.btn-common,
.btn-border {
  color: var(--white);
  padding: 17px 42px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
}

.btn-common:hover,
.btn-border:hover {
  color: var(--white);
  text-decoration: none;
}

.btn-common {
  background: var(--O, #fa9f3c);
}

.btn-border {
  border: 1px solid var(--zinc-400, #a1a1aa);
}

.title-container {
  padding-top: 145px !important;
  margin-bottom: 14px;
}

.title-container h1 {
  margin: 0;
}

.title h1 {
  color: var(--white);
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px; /* 112.727% */
  letter-spacing: -1.65px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.subtitle p {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}
.highlighted-text {
  color: #ffd471;
}

section.discovery-container h2 {
  color: var(--black, #000);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
}

/* .search-bar .form-control {
  border-radius: 40px;
  background: #f7f7f7;
  padding: 20px;
} */

.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 22px !important;
}

.search-bar {
  width: 405px !important;
  border-radius: 40px;
  background: #f7f7f7;
  padding: 15px;
}

.search-bar span.input-group-text,
.search-bar .form-control {
  background: none !important;
  border: 0 !important;
}

.search-bar .form-control:focus,
.search-bar .form-control:active {
  box-shadow: none;
}

button.btn-search {
  margin-top: 3px;
  border-radius: 60px;
  background: var(--O, #fa9f3c);
  padding: 16px 40px;
  height: 60px;
  outline: 0;
  border: 0;
  color: var(--white, #fff);
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button.btn-search:active,
button.btn-search:focus {
  outline: 0;
  border: 0;
}

.btn-search::placeholder {
  color: var(--Gray-3, #828282);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.6px;
}

section.benefits-slider,
section.features-container {
  margin-bottom: 80px;
}

.benefits-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
}

section.benefits-container {
  margin-bottom: 30px;
}

section.benefits-container h2 {
  color: var(--black, #000);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
section.benefits-container p {
  color: var(--black, #000);
  width: 401px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.card-body {
  padding: 23px 30px;
}

.card-body {
  text-align: center;
}

section.benefits-slider {
  padding: 0 100px 20px 100px;
  overflow: hidden;
}
.benefits-slider h5.card-title {
  color: var(--black, #000);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 8px 0;
}

.benefits-slider h5.card-text {
  color: var(--black, #000);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.benefits-slider button.owl-prev span,
.benefits-slider button.owl-next span {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 15px;
  font-size: 0px;
  background: #fff;
}

.reviews-container button.owl-prev span,
.reviews-container button.owl-next span {
  width: 80px;
  height: 40px;
  display: block;
  font-size: 0px;
  border-radius: 25px;
  background: #fa9f3c;
}

.benefits-slider button.owl-next span,
.benefits-slider button.owl-prev span,
.reviews-container button.owl-next span,
.reviews-container button.owl-prev span {
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

.benefits-slider button.owl-next span {
  background-image: url("../images/next-arrow-black.svg") !important;
}

.benefits-slider button.owl-prev span {
  background-image: url("../images/prev-arrow-black.svg") !important;
}

.reviews-container button.owl-next span {
  background-image: url("../images/next-arrow-white.svg") !important;
}

.reviews-container button.owl-prev span {
  background-image: url("../images/prev-arrow-white.svg") !important;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none !important;
  color: #000 !important;
  text-decoration: none !important;
}

.owl-theme .owl-nav [class*="owl-"]:focus {
  outline: 0 !important;
  border: 0 !important;
}
.benefits-slider .owl-nav.disabled,
.reviews-slider .owl-nav.disabled {
  display: block !important;
}

.owl-dots {
  display: none !important;
}

.brands-text {
  margin-bottom: 30px;
}

.brands-one {
  justify-content: space-between;
}

.brands-two-container {
  justify-content: space-evenly;
}

.brands-one .brand {
  padding: 0 !important;
}

.brands-two {
  margin-top: 40px;
}

section.features-container h2 {
  color: var(--black, #000);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
  margin: 0;
}

.map-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2.map-title {
  color: var(--white, #fff);
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  margin: 0 0 22px 0;
}

p.map-subtitle {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.happy-clients {
  padding-top: 105px;
}

.clients-content {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

p.numbers {
  color: var(--white, #fff);
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.map-image {
  padding: 0 !important;
}

p.happy {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0 0 0;
}

section.additional-info-container {
  padding: 100px 0px 100px 50px;
}

section.tip-info-container {
  padding: 70px 0px 0px 80px;
}

.additional-image {
  padding: 0 !important;
}

.additional-info-content h2 {
  color: var(--black, #000);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 59px;
  margin: 22px 0;
}

.additional-info-content .subheading {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 59px;
}

.additional-btn {
  display: flex;
  justify-content: flex-start;
}

.linear-graph-sub-container {
  padding: 70px 40px 0 0;
}

.linear-graph {
  border-radius: 12px;
  background: var(--green-g-700, #24394f) !important;
  box-shadow: 0px 2px 48px 0px rgba(147, 129, 255, 0.1) !important;
}

.linear-graph p {
  color: var(--Body, #fefbf6);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

section.graph.additional-info-container {
  background: #05070d;
  padding: 100px 100px 100px 50px !important;
}

section.subscriptions.additional-info-container {
  background: var(--light-pink);
}

section.graph.additional-info-container .additional-info-content,
.subscriptions.additional-info-container .additional-info-content {
  padding-top: 50px;
}

section.graph.additional-info-container .additional-info-content h2,
section.graph.additional-info-container .additional-info-content .subheading {
  color: var(--white);
}

.btn-additional {
  background: var(--O, #fa9f3c);
  color: var(--white);
  padding: 17px 37px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
}

.btn-additional:hover {
  color: var(--white);
  text-decoration: none;
}

section.reviews-slider {
  padding: 100px 50px 100px 50px;
  background: #05070d;
}
section.reviews-slider h1 {
  color: var(--white, #fff);
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 59px;
  margin-bottom: 53px;
}

.reviews-container .card-body {
  padding: 21px 21px 38px 21px;
}

p.review-content {
  width: 820px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: auto;
}
.rating {
  margin: 18px 0 8px 0;
}

.checked-yellow {
  color: #fde047;
}

p.reviewer-name {
  color: var(--white, #fff);
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: bold;
  line-height: 26px;
  margin: 0;
}

section.reviews-slider button.owl-prev span {
  color: var(--white) !important;
  background: rgba(255, 255, 255, 0.13);
  font-weight: bold;
}
section.reviews-slider button.owl-next span {
  background: #fa9f3c;
  color: var(--white) !important;
}

.footer-container {
  background: #05070d;
}

.footer-section {
  padding: 79px 100px 0px 150px;
  border-radius: 44px 44px 0 0;
}

.social-icons {
  margin-top: 45px;
  display: flex;
  gap: 14px;
}

footer.footer-section h4 {
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.36px;
  text-align: left;
  margin-bottom: 21px;
}

ul.quick-links {
  text-align: left;
  padding: 0;
  list-style-type: none;
}

ul.quick-links li {
  margin-bottom: 17px;
}

ul.quick-links li a {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

ul.quick-links li a:hover {
  text-decoration: none;
}

.contact-info p {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.copyright {
  padding: 41px 0 27px 0;
}

.copyright p {
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .hero-bg {
    position: relative;
    z-index: 111;
    background: #05070d;
    background-image: url("../images/bg-hero.png") !important;
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .hero-bg::after {
    content: "";
    background: #fff;
    height: 180px !important;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  .arrow-bg {
    background-image: url("../images/bg-arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 70px;
    margin: 0 0 25px -160px;
  }

  .benefits-slider .owl-carousel {
    position: relative;
  }

  .benefits-slider button.owl-prev,
  .benefits-slider button.owl-next {
    position: absolute;
    top: 35%;
  }

  .benefits-slider button.owl-prev {
    left: -30px;
  }

  .benefits-slider button.owl-next {
    right: -30px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container {
    padding: 40px 25px 20px 25px;
  }

  div#navbarNav {
    display: block;
  }

  .navbar-nav {
    flex-direction: row !important;
  }

  .nav-bb {
    gap: 50px;
  }

  .title-container {
    padding-top: 0px;
  }

  .title h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .subtitle p {
    font-size: 14px;
    line-height: 16px;
  }

  .arrow-bg {
    display: none;
  }

  .button-container {
    margin-bottom: 40px;
  }

  section.discovery-container h2 {
    font-size: 24px;
  }

  .search-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    width: 100% !important;
  }

  section.benefits-container h2 {
    font-size: 24px;
  }

  section.benefits-container p {
    width: 100%;
    font-size: 14px;
  }

  section.features-container h2 {
    font-size: 24px;
  }

  .featres-container .brand {
    margin-bottom: 15px;
  }

  section.map-container,
  section.additional-info-container {
    padding: 50px 25px 50px 25px;
  }

  section.reviews-slider {
    padding: 50px;
  }

  h2.map-title {
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }

  p.map-subtitle {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .clients-content {
    gap: 0px;
    margin: 25px 0;
  }

  .map-image {
    margin: 20px;
  }

  .additional-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .additional-info-content img {
    max-width: 20%;
  }
  .additional-info-content h2 {
    font-size: 24px;
    line-height: 30px;
    margin: 20px 0;
    text-align: center;
  }

  .additional-info-content .subheading {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  section.reviews-slider h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  p.review-content {
    width: 100%;
  }

  .footer-section {
    padding: 50px 25px 20px 0px;
  }

  ul.quick-links {
    text-align: left;
  }

  footer.footer-section h4 {
    text-align: left;
  }

  .quick {
    margin: 25px 0;
  }

  section.benefits-slider {
    padding: 0px 25px 20px;
    overflow: hidden;
  }

  .brands-one {
    justify-content: center;
  }

  .brands-one .brand,
  .brands-two .brand {
    padding: 0px !important;
    margin: 20px 0;
  }

  .happy-clients {
    padding-top: 50px;
  }

  section.tip-info-container {
    padding: 50px 25px 50px 25px;
  }

  section.graph.additional-info-container {
    padding: 50px 50px 50px 50px !important;
  }
}

/* Support Screen Design */

.support-section {
  background: #05070d;
  padding: 100px;
  /* height: 100vh; */
}

.verified-section {
  background-image: url(../images/bg-support.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0;
  /* padding: 88px 0 0 100px !important; */
}

.verified-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

img.verified-header-logo {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 15%;
}

.verified-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 12px;
}

.support-section .name {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
  margin: 0;
}

.designation {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: center;
  margin: 10px 0 12px 0;
}

.verified-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.support-form-container,
.payment-form-container {
  padding: 200px 50px 200px 50px !important;
  background: #fff;
}

.support-form-container h2,
.payment-form-container h2 {
  color: var(--black, #000);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  margin: 0;
}

.support-form-container p,
.payment-form-container p {
  color: var(--zinc-500, #71717a);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 9px 0 31px 0;
}

form.support-form label {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

form.support-form .name-field {
  margin-bottom: 23px;
}

form.support-form .amount-field {
  margin-bottom: 16px !important;
}

form.support-form input {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.06);
  padding: 19px 0 19px 21px;
  height: 60px;
  width: 400px;
  border: 0;
}

form.support-form input::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form.support-form input:active,
form.support-form input:focus {
  box-shadow: none;
  border: 0;
  background: rgba(0, 0, 0, 0.06);
}

.btn-counter-container {
  display: flex;
  gap: 14px;
  margin-bottom: 25px !important;
}

button.btn-counter {
  padding: 17px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.09);
  border: 0;
  color: var(--black, #000);
  /* font-family: Rational Display; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button.btn-counter:hover {
  background: var(--O, #fa9f3c);
  color: #fff;
}

button.btn-submit {
  padding: 19px 43px;
  border-radius: 15px;
  background: var(--O, #fa9f3c);
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.36px;
  border: 0;
}

button.btn-counter:focus,
button.btn-submit:focus {
  outline: 0;
}

@media screen and (max-width: 768px) {
  .support-section {
    padding: 0;
  }

  .verified-section {
    padding: 100px 0;
  }

  .support-form-container {
    padding: 100px 25px 100px 25px !important;
  }
  .support-form-container h2 {
    font-size: 25px;
  }

  .btn-counter-container {
    flex-wrap: wrap;
  }

  button.btn-counter {
    padding: 10px;
    font-size: 14px;
  }
  form.support-form input {
    width: 100%;
  }

  .linear-graph-sub-container {
    padding: 0;
  }

  .range-item,
  .instagram-progress-container,
  .facebook-progress-container,
  .twitter-progress-container,
  .bihance-progress-container {
    width: 100% !important;
  }
}

/* Payment Screen design */

/* .payment-form-container .payment-option-text {
  color: var(--black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 20px 0;
}

.payment-methods {
  padding: 0 !important;
  margin-bottom: 40px;
}

.radio-container {
  display: flex;
  gap: 17px;
  align-items: center;
} */

/* label.radio-button {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 15px 18px;
  gap: 10px;
  display: flex;
  align-items: center;
} */

/* Custom CSS for radio buttons */
/* .radio-button input[type="radio"] {
  width: 17px;
  height: 17px;
  accent-color: #c7862e;
} */

.social-stats-container {
  justify-content: space-around;
}
.social-stats {
  margin-top: 20px;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.range-item {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.instagram-progress-container,
.facebook-progress-container,
.twitter-progress-container,
.bihance-progress-container {
  height: 8px;
  width: 70%;
  border-radius: 4px;
  position: relative;
}

.instagram-progress-container {
  background: var(--colors-action-warning, #fff5cc);
}

.facebook-progress-container {
  background: #dad7fe;
}

.twitter-progress-container {
  background-color: #b4cad8;
}

.bihance-progress-container {
  background: #ffe5d3;
}

.instagram-bar,
.facebook-bar,
.twitter-bar,
.bihance-bar {
  height: 100%;
  border-radius: 4px;
}

.instagram-bar {
  background: var(--colors-action-warning, #ffb200) !important;
  width: 70%;
}

.facebook-bar {
  background: #4339f2;
  width: 50%;
}

.twitter-bar {
  background: #02a0fc !important;
  width: 90%;
}

.bihance-bar {
  background: #ff3a29;
  width: 50%;
}

/* You can define your custom styles for titles and subtitles here */
.social-stats .title {
  color: var(--colors-black-100, #000);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.social-stats .subtitle {
  color: var(--colors-black-100, #000);
  opacity: 0.4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-bottom: 17px;
}

.range-title {
  color: var(--colors-black-100, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.instagram-range-score,
.facebook-range-score,
.twitter-range-score,
.bihance-range-score {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.instagram-range-score {
  color: var(--colors-action-warning, #ffb200);
}

.facebook-range-score {
  color: #4339f2 !important;
}

.twitter-range-score {
  color: #02a0fc;
}

.bihance-range-score {
  color: #ff3a29;
}
